/*-------  ここから共通のCSS（変更不要）  --------*/
body {
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #888;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #323A45;
  transition: all .3s;
}

a:hover {
  color: #0dc0c0;
  cursor:pointer;
}

h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4, h5 {
  color: #444;
  font-size: 18px;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*-------  ここまで共通のCSS（変更不要） --------*/

/*------- ここからCSSを書き始めてください --------*/
.header {
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed; 
  top: 0; 
  right: 0; 
  left: 0;
  z-index: 10;
  background-color: white;
}

.header-left {
  float: left;
  font-size: 15px;
  color: #777;
  padding-top:10px;
}

.header-left a {
  font-weight: bold;
  font-size: 22px;
  color: #777;
}

.header-right {
  float: right;
  padding: 15px 15px;
  font-weight: bold;
}

.header-right li {
  float: left;
  display: inline-block;
  color: #323A45;
  padding-left: 15px;
  font-size: 15px;
}

.btn {
  cursor: pointer;
}

.btn:hover {
 color: #0DC0C0;
 transition:all 0.2s;
}

.header-right li:hover {
 color: #0DC0C0;
 transition: all 0.2s; 
}

/*トップメッセージの中身はここから*/

.top-wrapper {
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/lesson_images/html/practice/backgrounds/top.jpg");
  background-size: cover;
  z-index: 0.8;
  display: block;
  text-align: center;
}

.container-black {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 180px 0px 130px 0px;
}

.container-black h1 {
  color: #f3f3f3;
  font-size: 50px;
  font-weight: normal;
}

.container-black p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin-bottom: 40px;
}

.shinki {
  display: inline-block;
  color: white;
  font-size: 17px;
  padding: 10px 17px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.shinki:hover {
  border: 1px solid white;
}

.container .answer {
  display:none;
  font-size:14px;
  color:white;
  text-align:center;
  width:98%;
}

/*lessonの中身はここから*/
.lesson-wrapper {
  text-align: center;
  height: 550px;
  padding: 60px 0px 100px 0px;
}

.heading {
  font-size: 32px;
  color: #555;
}

.lessons {
  margin-top: 30px;
  padding-left: 200px;
}

.lesson-icon {
  margin: 20px 40px 0px 0px;
  float: left;
  display: inline-block;
  width: 37%;
}

.lesson-icon h3 {
  color: #444;
}

.lesson-icon p {
  color: #888;
  font-size: 14px;
  width: 350px;
}

/*メッセージの中身はここから*/

.message-wrapper{
  height: 800px;
}

.header-message {
  height: 390px;
  background-color: #f4f4f4;
  margin-top: 30px
}

.top-message {
  text-align: center;
  margin-bottom:50px;
}

.top-message h2 {
  padding: 70px 0px 20px 0px;
  color: #444;
  font-size: 30px;
}

.bottom-message {
  width: 50%;
  float: left;
}

.message-item {
  display: inline-block;
  width: 40%;
  margin: 0px 10px 20px 60px;
  vertical-align: top;
}

.message-item h3 {
  font-size: 18px;
  color: #444;
}

.message-item p{
  font-size: 14px;
  color: #888;
}

/*コースの中身はここから*/

.course-wrapper {
  height: 900px;
  text-align: center;
  background-color: #f0f0f0;
}

.top-course h2 {
  padding: 60px 0px 30px 0px;
  font-size: 32px;
}

.course-item {
  display: inline-block;
  background-color: white;
  width: 30%;
  height: 630px;
  margin:0px 15px 0px 10px;
  padding: 30px 5px 5px 0px;
}

.course-item h4,h5 {
  display: inline-block;
  width: 92%;
  height: 50px;
  padding: 35px 0px;
  margin: 0px;
}

.course-item h4 {
  font-size: 32px;
  color:white;
}

.course-item h5 {
  background-color: #f0f0f0;
  font-size: 28px;
}

.center-item {
  color: white;
  background-color: #0DC0C0;
}

.side-item {
  color: white;
  background-color: #323A45;
}

.course-item ul {
  margin: 20px;
}

.course-item li {
  padding: 20px;
  border-bottom: 1px solid #f0f0f0;
}

.course-item p {
  color: white;
  display: inline-block;
  background-color: #2d323a;
  padding: 12px 20px;
  margin-top: 20px;
}

.btn2 {
  cursor: pointer;
}

.btn2:hover {
  opacity: 0.9;
}

/*メンター一覧の中身はここから*/

.mentor-wrapper {
  text-align: center;
}

.mentor h2 {
  padding: 60px 0px 0px 0px;
  font-size: 33px;
  color:black;
}

.mentor-item {
  padding-top: 30px;
}

.mentor-item img {
  width: 200px;
  border-radius: 400px;
}

.mentor-item p {
  display: block;
  margin: 0 auto;
  width: 950px;
  font-size: 18px;
  margin-top: 20px;
  color: #444;
}

.mentor-item h4 {
  font-size: 14px;
  color: #888;
  margin-bottom: 30px;
}

/*フッターメッセージの中身はここから*/

.footer-black {
  background-color: rgba(0,0,0,0.6);
  height: 380px;
}

.footer-wrapper {
  width: 100%;
  height: 380px;
  background-size: cover;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/lesson_images/html/practice/backgrounds/night_view.jpg");
  text-align: center;
}

.footer h3 {
  padding-top: 145px;
  font-size: 22px;
  color: white;
}

.footer h4 {
  padding-top: 10px;
  font-size: 22px;
  color: white;
}

/*コラムの中身はここから*/

.column-wrapper {
  text-align: center;
  background-color: #f0f0f0;
}

.column-top {
  padding-top: 60px;
  font-size: 25px;
  color: black;
}

.column-top h3 {
  letter-spacing: 5px;
}

.column-list {
  padding: 30px;
}

.column-list li{
  display: inline-block;
  padding: 10px 15px;
  margin-right: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.list-left {
  background-color: #009ca8;
  color: white;
}

.list-right {
  background-color: white;
  color: black;
  font-weight: bold;
}

.list-right:hover {
  background-color: #009ca8;
  cursor: pointer;
  color: white;
  transition: all 0.2s;
}

.column-item {
  display: inline-block;
  width: 480px;
  background-color: white;
  padding: 5px;
  margin: 15px;
}

.column-item img {
  width: 480px;
  margin-bottom: 20px;
}

.column-item img:hover {
  cursor: pointer;
}

.column-item a {
  display: block;
  font-size: 17px;
  font-weight: bold;
}

.column-item h4 {
  margin: 0px 0px 20px 0px;
  font-size: 14px;
  color: #888;
}

.column-bottom p{
  font-size: 16px;
  font-weight: bold;
  color: #e8edef;
  display: inline-block;
  background-color: #2d323a;
  padding: 15px 18px;
  margin-top: 30px;
  margin-bottom: 60px;
}

/*フォームの中身はここから*/

.form-wrapper {
  height: 650px;
  background-image: url(https://s3-ap-northeast-1.amazonaws.com/progate/lesson_images/html/practice/backgrounds/contact.jpg);
  background-size: cover;
}

.form-black {
  background-color: rgba(0, 0, 0, 0.6);
  height: 650px;
}

.form {
  color: white;
}

.form h1 {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  padding: 65px 0px 15px 0px;
}

.left-form {
  float: left;
  width: 50%;
}

.left-form h3 {
  font-size: 23px;
}

.input {
  padding: 10px 0px;
}

input[type="email"] {
  width: 580px;
  height: 50px;
  font-size: 20px;
  padding: 12px;
  color:white;
  background-color: rgba(255,255,255,0.1);
  border-color: rgba(255,255,255,0.1);
}

input[type="text"] {
  width: 580px;
  height: 50px;
  margin: 23px 0px;
  font-size: 20px;
  padding: 12px;
  color:white;
  background-color: rgba(255,255,255,0.1);
  border-color: rgba(255,255,255,0.1);
}

textarea {
  font-size: 20px;
  padding: 15px;
  color: white;
  background-color: rgba(255,255,255,0.1);
  border-color: rgba(255,255,255,0.1);
}

.left-form P {
  display: inline-block;
  background-color: #009ca8;
  color: white;
  padding: 16px 33px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  margin-top: 20px;
}

.right-form {
  float: right;
  width: 40%;
  padding-right: 20px;
}

.right-form h2 {
  font-size: 23px;
}

.right-form h3{
  font-size: 14px;
  line-height: 25px;
}

.right-form h4 {
  color: white;
  font-size: 22px;
  padding: 10px 0px 10px 0px;
}

.fa {
  font-size: 20px;
  margin-right: 15px;
}

.right-form p {
  font-size: 14px;
}

.right-form  h5{
  color: white;
  padding-left: 15px;
  font-size: 14px;
}

.last-wrapper {
  text-align:center;
}

.last-top {
  color: #222;
  height: 230px;
  font-size: 16px;
}

.last-top h1 {
  padding-top: 60px;
  font-weight: normal;
}

.last-top .fa {
  font-size: 35px;
  padding:40px 0px;
}

.last-bottom {
  height: 85px;
  background-color: #222;
}

.last-bottom h4{
  color:rgba(255,255,255,0.5);
  font-size:15px;
  padding-top:30px;
}